@import url("secondpage.css");

#Constants {
    includeNativeBool: true; 
}
@font-face {
    font-family: "righteous";
    src: url(fonts/Righteous.ttf);
}
@font-face {
    font-family: "airborne";
    src: url(fonts/Airborne.ttf);
}

@font-face {
    font-family: "sen";
    src: url(fonts/Sen.ttf);
}

@font-face {
    font-family: "rex";
    src: url(fonts/Rex.ttf);
}

:root {
   --styled-text: "rex";
   --normal-text: "sen";
 }


SplashScreen {
        background-image: url("images/background.png");
        cn1-source-dpi: 0;
        cn1-background-type: cn1-image-scaled-fill;
}

Logo {
        background-image: url("images/logo.png");
        cn1-source-dpi: 250;
}
Logo {
        background-image:
        url("images/border_decoration.png"),
        url("images/border_decoration_red.png"),
        url("images/border_decoration_green.png"),
        url("images/background.png"),
        url("images/coffee.png"),
        url("images/contactus.png"),
        url("images/findus.png"),
        url("images/address.png"),
        url("images/foodmenu.png"),
        url("images/kattiroll.png"),
        url("images/logo.png"),
        url("images/map.png"),
        url("images/mobile.png"),
        url("images/momo.png"),
        url("images/pizza.png"),
        url("images/weareopen.png"),
        url("images/reservation.png"),
        url("images/salad.png"),
        url("images/sausage.png"),
        url("images/seafood.png"),
        url("images/thakali1.png"),
        url("images/thakali2.png");
}

FoodMenu {
        background-image: url("images/foodmenu.png");
        cn1-source-dpi: 250;
}

ContactUs {
        background-image: url("images/contactus.png");
        cn1-source-dpi: 250;
}

FindUs {
        background-image: url("images/findus.png");
        cn1-source-dpi: 250;
}

Reservation {
        background-image: url("images/reservation.png");
        cn1-source-dpi: 250;
}

MenuScreen1 {
        background-color: black;
        color: black;
}

WhiteIcon {
        color: white;
        margin: 50px 100px 150px 100px;
}

MenuToolbar1 {
        margin: 20px;
}

MenuToolbar1 {
        background-color:black;
        margin: 20px;
}

MenuTileLabel{
        color: white;
        font-size: 9pt;
        margin: 20px;
        text-align: center;

}
MenuTile{
        margin: 96px;
}

MenuCard{
        margin : 10px;
        padding :10px;
        border:4px grey;
        border-style : dashed;
        border-bottom-left-radius: 70px;
        margin-top: 100px;
        margin-right : 100px;
        margin-left : 50px;
}
MenuCardItemTitle{
        color: #ff5555;
        font-size: 10pt;
        margin-top:40px;
}

MenuCardImage{
        margin-top:0px;
}
MenuCardItemDescription{
        color: #cccccc;
        font-size: 7pt;
        font-family: var(--styled-text);
}

MenuCardPrice{
       background: cn1-round-border;
       color: white;
       font-size: 8pt;
       background: #338833;
       text-align:center;
       padding:2mm;
       margin-top:30px;
}

Wrapper {
        min-height: 100vh;
}

Badge {
        min-width: 16px;
        padding: 35px 20px;
        border-radius: 50%;
        font-size: 75px;
        text-align: center;
        background: #338833;
        color: #fefefe;
}
MenuCardItemImage{
        height:200px;
        width:200px;
}

FoodInfo{
        padding-right: 370px;
}




/*Styles for  Food details Page*/

FoodDetailsTitle{
        color: red;
        font-size: 20pt;
        text-align: center;
}

FoodDetailsDescription{
        color: white;
        font-size: 10pt;
        text-align: center;
}

GreenLine{
        height: 3px;
        width: 140px;
        color: #339933;
        background-color: #339933;
}

ItemPrice{
       background: cn1-round-border;
       color: white;
       font-size: 10pt;
       background: #338833;
       margin-left : 5mm;
       margin-right : 5mm;
       text-align:center;
       padding:2mm;
       margin-top:30px;
}


ItemDetailsInfo{
        border-style: dashed;
        border: 4px grey;
        border-color: grey;
        border-radius :10px;
        padding: 20px;
        padding-top: 20mm;
        margin :20px;
        margin-top: 10mm;
}

GoBackButton {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 2mm;
        text-align: center;
        border-radius: 50px;
        margin: 200px 100px 150px 100px;
}


/*Contact Us Page*/

ItemTitle{
        color: #ff5555;
        font-size: 16pt;
        text-align: center;
        margin-top: 5mm;
}

ShcheduleRowText{
        color: #eeeeee;
        font-size: 8pt;
        text-align: left;
}

ShcheduleRowDashText{
        color: #eeeeee;
        font-size: 8pt;
        text-align: center;
}

/*Find Us page*/
AddressCard{
        background:#cccccc;

}

RedIcon {
        color: #aa3333;
}

PhoneCard {
        margin-left: 50px;
}

NormalWhiteText{
        color: #666666;
        font-size: 6pt;
}

/*Splash Screen*/
SplashButton {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 2mm;
        text-align: center;
        border-radius: 50px;
        margin: 0px 100px 150px 100px;
        font-family: var(--styled-text);
}
/*Reservation Screen*/

BookScreen {
        background-image: url("images/reservation_bg.png");
        cn1-source-dpi: 450;
        cn1-background-type: cn1-image-scaled-fill;
        background-color:black;
}

PickerTitle {
        font-size: 15pt;
        margin-top: 10mm;
        text-align: left;
        font-family: var(--styled-text);
        color: white;
}

PickerLabel {
        color: white;
        font-size: 9pt;
        text-align: left;
        font-weight: bold;
        margin: 10px;
}

TextComponent{
        background-color: rgba(0, 0, 0, 0.0);

}
TextComponentField{
        color: white;
}

DescriptionLabel{
        color: white;
}

DropdownStyle{
        background-color: #333333;
        color: white;
}

Picker {
        background-color: black;
        color: white;
}

Picker.selected {
        background-color: black;
        color: white;
}
Picker.pressed {
        background-color: black;
        color: white;
}
Picker.disabled {
        background-color: black;
        color: white;
}

BookScreenGoBack {
        color: white;
        text-align: center;
        font-size:10pt;
        font-family: var(--styled-text);
}
/*Shared Styles*/
RedPillButton {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 1mm;
        text-align: center;
        border: 0pt #3399ff cn1-pill-border;
        margin: 0px 100px 50px 100px;
        font-family: var(--styled-text);
}

PillButtonText{
        margin-top: 1mm;
        color: white;
        font-size: 14pt;
        font-weight: bold;
        font-family: var(--styled-text);
}


AppTitleLabel {
        color: white;
        font-size: 24pt;
        margin-top: 15mm;
        font-weight: bold;
        text-align: center;
        font-family: var(--styled-text);
}

AppTitleLabelMini {
        color: white;
        font-size: 16pt;
        font-family: var(--styled-text);
        text-align: center;
}

AppTitleLabelMedium {
        color: white;
        font-size: 18pt;
        font-family: var(--styled-text);
        text-align: center;
        margin: 50px 100px 150px 100px;
}

