#Constants {
    includeNativeBool: true;
}
@font-face {
    font-family: "righteous";
    src: url(fonts/Righteous.ttf);
}
@font-face {
    font-family: "airborne";
    src: url(fonts/Airborne.ttf);
}

@font-face {
    font-family: "sen";
    src: url(fonts/Sen.ttf);
}

@font-face {
    font-family: "rex";
    src: url(fonts/Rex.ttf);
}

:root {
   --styled-text: "rex";
   --normal-text: "sen";
 }

Logo {
        background-image: url("images/logo.png");
        cn1-source-dpi: 250;
}
Logo {
        background-image:
        url("images/border_decoration.png"),
        url("images/border_decoration_red.png"),
        url("images/border_decoration_green.png"),
        url("images/decorationleft.png"),
        url("images/decorationright.png"),
        url("images/borderline.png"),
        url("images/borderline_tab.png"),
        url("images/background.png"),
        url("images/background_land.png"),
        url("images/coffee.png"),
        url("images/contactus.png"),
        url("images/findus.png"),
        url("images/address.png"),
        url("images/foodmenu.png"),
        url("images/kattiroll.png"),
        url("images/logo.png"),
        url("images/logofull.png"),
        url("images/map.png"),
        url("images/mobile.png"),
        url("images/momo.png"),
        url("images/pizza.png"),
        url("images/weareopen.png"),
        url("images/reservation.png"),
        url("images/salad.png"),
        url("images/sausage.png"),
        url("images/seafood.png"),
        url("images/thakali1.png"),
        url("images/dropdown.png"),
        url("images/thakali2.png");
}

/* Toolbar Menu*/
MenuToolbar {
        margin-top: 0px;
}

MenuTitleLabel{
        color: white;
        font-size: 10pt;
        margin-top: 30px;
        text-align: center;
        font-family: var(--styled-text);
}
MenuTitleLabelTab{
        color: white;
        font-size: 20pt;
        margin-top: 30px;
        text-align: center;
        font-family: var(--styled-text);
}

MenuPairRight{
}

MenuPairRightTab{
        margin-left : 10mm;
}

MenuPairLeft{
}

MenuPairLeftTab{
        margin-right : 10mm;
}

SheetContents{
    padding: 4mm;
}

SheetContentsTab{
    padding : 1mm;
}



MenuSheet{
        background-color: black;
        color: black;
}

MenuSheetTab{
        background-color: black;
        color: black;
}

MenuTile {
        margin: 10px;
}

MenuTileTab {
        margin: 0px;
}

MenuTileLabel {
        cn1-derive: MenuTitleLabel;
        font-size: 10pt;
}

MenuTileLabelTab {
        cn1-derive: MenuTitleLabel;
        font-size: 17pt;
}

FoodMenu {
        background-image: url("images/foodmenu.png");
        cn1-source-dpi: 250;
}

ContactUs {
        background-image: url("images/contactus.png");
        cn1-source-dpi: 250;
}

FindUs {
        background-image: url("images/findus.png");
        cn1-source-dpi: 250;
}

Reservation {
        background-image: url("images/reservation.png");
        cn1-source-dpi: 250;
}

LogoIcon{
        margin-top: 30px;
}

WhiteIcon {
        color: white;
}

/*MenuScreen Starts */
MenuScreen {
        background-color: black;
        color: black;
}

MenuScreenTab {
        background-color: black;
        color: black;
}

MenuCard{
        margin : 40px 200px 50px 30px;
        padding :10px;
        background-image:url("images/dashbg_landscape.png");
        cn1-background-type: cn1-image-scaled;
}

MenuCardTab{
        margin : 40px 200px 50px 30px;
        padding :10px;
        background-image:url("images/dashbg_landscape.png");
        cn1-background-type: cn1-image-scaled;
}
MenuCardWhole{
        padding-top : 50px;
        padding-bottom : 50px;
}
MenuCardWholeTab{
        padding-top : 50px;
        padding-bottom : 50px;
}
FoodInfo{
        margin-top: 50px;
        padding-right: 300px;
        padding-left: 10px;
}
FoodInfoTab{
        margin-top: 70px;
        padding-right: 300px;
        padding-left: 10px;
}

MenuCardImage{
        margin-right: 0px;
}

FoodTitle{
        color: #CB433A;
        font-family: var(--styled-text);
        font-size: 12pt;
}
FoodTitleTab{
        color: #CB433A;
        font-family: var(--styled-text);
        font-size: 22pt;
}

FoodDescription{
        color: #cccccc;
        font-size: 7pt;
        font-family: var(--normal-text);
        padding-bottom :1mm;
        padding-top :1mm;
}
FoodDescriptionTab{
        color: #cccccc;
        font-size: 10pt;
        font-family: var(--normal-text);
        padding-bottom :1mm;
        padding-top :1mm;
}

MenuCardPrice{
       background: cn1-round-border;
       color: white;
       font-size: 6pt;
       background: #0B803B;
       text-align:center;
       padding:1.8mm;
}

MenuCardPriceTab{
       background: cn1-round-border;
       color: white;
       font-size: 8pt;
       background: #0B803B;
       text-align:center;
       padding:2.2mm;
}
/*MenuScreen Ends */

/*Styles for  Food details Page*/

FoodDetailsTitle{
        color: #CB433A;
        font-size: 20pt;
        text-align: center;
        font-family: var(--styled-text);
}

FoodDetailsDescription{
        color: white;
        font-size: 10pt;
        font-family: var(--normal-text);
        text-align: center;
}

GreenLine{
        margin-top: 48pt;
}

ItemPrice{
       background: cn1-round-border;
       color: white;
       font-size: 10pt;
       background: #338833;
       margin-left : 2mm;
       margin-right : 2mm;
       text-align:center;
       padding:2mm;
}


ItemDetailsInfo{
        padding: 2mm;
        background-image:url("images/dashbg_potrait.png");
        cn1-background-type: cn1-image-scaled;
        cn1-9patch: 5px 8px 4px 10px;
        padding-top: 20mm;
        margin :20px;
        margin-top: 15mm;
}

RedPillButtonFoodDetails {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 1mm;
        text-align: center;
        border: 0pt #3399ff cn1-pill-border;
        margin: 50px 150px 150px 150px;
        font-family: var(--styled-text);
}
/*Contact Us Page*/

ItemTitle{
        color: #ff5555;
        font-size: 16pt;
        text-align: center;
        margin-top: 5mm;
        font-family: var(--styled-text);
}

ShcheduleRowText{
        color: #cccccc;
        font-size: 8pt;
        text-align: left;
        font-family: var(--normal-text);

}

ShcheduleRowDashText{
        color: #cccccc;
        font-size: 8pt;
        text-align: center;
        font-family: var(--normal-text);
}

/*Find Us page*/
AddressCard{
        background:#cccccc;
}

RedIcon {
        color: #aa3333;
}

PhoneCard {
        margin-left: 50px;
}

AddressCardText{
        color: #666666;
        font-family: var(--normal-text);
        font-size: 6pt;
}

FindUsPillButton {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        text-align: center;
        margin: 1mm 10mm;
        border: 0pt #3399ff cn1-pill-border;
        font-family: var(--styled-text);
}

/*Splash Screen*/
SplashButton {
        margin-top:40mm;
}

SplashPillButton {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 1mm 5mm;
        text-align: center;
        border: 0pt #3399ff cn1-pill-border;
        font-family: var(--styled-text);
}

SplashPillButtonTab {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 3mm 5mm;
        text-align: center;
        margin-top : 80mm;
        border: 0pt #3399ff cn1-pill-border;
        font-family: var(--styled-text);
}


SplashScreen {
        background-image: url("images/background.png");
        cn1-source-dpi: 0;
        cn1-background-type: cn1-image-scaled-fill;
        padding-top:0px;
}
SplashScreenTab {
        background-image: url("images/background_land.png");
        cn1-source-dpi: 0;
        cn1-background-type: cn1-image-scaled-fill;
        padding-top:0px;
}


/*Reservation Screen*/

BookScreen {
        background-image: url("images/reservation_bg.png");
        cn1-source-dpi: 450;
        cn1-background-type: cn1-image-scaled-fill;
        background-color:black;
}

BookScreenTab {
        background-image: url("images/reservation_bg_tab.png");
        cn1-source-dpi: 0;
        cn1-background-type: cn1-image-scaled-fill;
        padding-top:0px;
}

BookScreenContent{
}

PickerTitle {
        font-size: 18pt;
        margin-top: 10mm;
        margin-bottom: 5mm;
        text-align: left;
        font-family: var(--styled-text);
        color: white;
}

PickerTitleTab {
        font-size: 35pt;
        margin-top: 30mm;
        margin-bottom: 5mm;
        text-align: left;
        margin-left:20mm;
        font-family: var(--styled-text);
        color: white;
}

PickersGroup{

}

PickersGroupTab{
        margin-left:20mm;
}

PickerLabel {
        color: white;
        font-size: 7pt;
        text-align: left;
        font-weight: bold;
        margin: 10px;
        margin-top : 5mm;
}

PickerLabelTab {
        color: white;
        font-size: 14pt;
        text-align: left;
        font-weight: bold;
        margin: 10px;
}

TextComponent{
        background-color: rgba(0, 0, 0, 0.0);
}

Picker{
        background-color: rgba(0, 0, 0, 1.0);
        color: #aaaaaa;
}
TextComponentField{
        color: #aaaaaa;
        font-family: var(--normal-text);
        font-size: 9pt;
}

DescriptionLabel{
        color: white;
}

DescriptionLabelTab{
        color: white;
}

DropdownStyle{
        background-color: #333333;
        color: white;
}

DropdownStyleTab{
        background-color: #333333;
        color: white;
}

BookScreenGoBack {
        color: #aaaaaa;
        text-align: center;
        font-size:10pt;
        font-family: var(--styled-text);
}

BookScreenGoBackTab {
        color: #aaaaaa;
        text-align: center;
        margin-top: 5mm;
        font-size:20pt;
        font-family: var(--styled-text);
        margin-bottom: 20mm;
}

/*Shared Styles*/
RedPillButton {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 1mm;
        text-align: center;
        border: 0pt #3399ff cn1-pill-border;
        margin: 0px 50px 50px 50px;
        font-family: var(--styled-text);
}

RedPillButtonTab {
        background-color: #CB433A;
        background-repeat: space;
        color: white;
        padding: 1mm;
        text-align: center;
        border: 0pt #3399ff cn1-pill-border;
        margin: 0px 50px 50px 50px;
        font-family: var(--styled-text);
}

PillButtonText{
        margin-top: 1mm;
        color: white;
        font-size: 14pt;
        font-weight: bold;
        font-family: var(--styled-text);
}

PillButtonTextTab{
        margin-top: 3mm;
        color: white;
        font-size: 30pt;
        font-weight: bold;
        font-family: var(--styled-text);
}


AppTitleLabel {
        color: white;
        font-size: 24pt;
        margin-top: 15mm;
        font-weight: bold;
        text-align: center;
        font-family: var(--styled-text);
}

AppFullLogo {
        margin-top: 5mm;
}

AppFullLogoTab {
        margin-top: 10mm;
}


AppTitleLabelMini {
        color: white;
        font-size: 16pt;
        font-family: var(--styled-text);
        text-align: center;
}

AppTitleLabelMedium {
        color: white;
        font-size: 18pt;
        font-family: var(--styled-text);
        text-align: center;
        margin: 50px 100px 150px 100px;
}

